<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>uqie1.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,77},{33,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{33,36}}</string>
                <key>sourceSize</key>
                <string>{47,46}</string>
            </dict>
            <key>uqie12.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,74},{33,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{33,39}}</string>
                <key>sourceSize</key>
                <string>{45,57}</string>
            </dict>
            <key>uqie13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{35,39}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{35,39}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>uqie21.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,39},{36,39}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{36,39}}</string>
                <key>sourceSize</key>
                <string>{46,45}</string>
            </dict>
            <key>uqie22.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{31,40}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{31,40}}</string>
                <key>sourceSize</key>
                <string>{43,48}</string>
            </dict>
            <key>uqie23.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,35},{37,39}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{37,39}}</string>
                <key>sourceSize</key>
                <string>{43,47}</string>
            </dict>
            <key>uqie31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{36,40}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{36,40}}</string>
                <key>sourceSize</key>
                <string>{42,52}</string>
            </dict>
            <key>uqie32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,77},{29,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{29,38}}</string>
                <key>sourceSize</key>
                <string>{39,48}</string>
            </dict>
            <key>uqie33.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{35,40}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{35,40}}</string>
                <key>sourceSize</key>
                <string>{51,48}</string>
            </dict>
            <key>ya1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{22,32}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,11},{22,32}}</string>
                <key>sourceSize</key>
                <string>{42,52}</string>
            </dict>
            <key>ya2.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,109},{19,30}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,13},{19,30}}</string>
                <key>sourceSize</key>
                <string>{41,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>flash.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c3f81c6dc2c87ec7807295c6fd7591f2:1/1$</string>
            <key>textureFileName</key>
            <string>flash.png</string>
        </dict>
    </dict>
</plist>
